<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.demo.entity.mapper.AccountMapper">

    <!-- Select user by username -->
    <select id="selectUserByAccount" parameterType="string" resultType="com.practice.demo.entity.Account">
        SELECT * FROM account WHERE user_account = #{account}
    </select>

    <!-- Insert a new user -->
    <insert id="insertUser" parameterType="com.practice.demo.entity.Account">
        INSERT INTO account (account, password,name,email)
        VALUES (#{user_account}, #{password},#{name},#{email})
    </insert>

    <!-- Update user password -->
    <update id="updateUserPassword" parameterType="com.practice.demo.entity.Account">
        UPDATE account SET password = #{password} WHERE user_account = #{account}
    </update>

</mapper>
